$mainblue: #009ff9;
$secondary-blue: #097cbe;
$valid-green: #2dbe09;


$mainblack: #0e0e0e;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  overflow-x: hidden;
  box-sizing: border-box;
  scrollbar-width: none; //for firefox
  transition: color 0.2s ease;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: $mainblack;
}

.blue-text {
  color: $mainblue;
}

.white-text {
  color: white;
}

header {
  background-color: rgba(0, 0, 0, 0.493);
  backdrop-filter: blur(4.0px);
  height: 90px;
  width: 100%;
  padding: 20px;
  border-bottom: 2px solid #009ff9;  
  display: flex;
  position: fixed;
  top: -5;
  z-index: 2;
  align-items: start;
  justify-content: center;
  overflow: visible;

  .burger{
      display: none;
  }
  &.mobile {
    transition: all 1s ease;
    nav {
      backdrop-filter: blur(4.0px);
        ul{
          background-color: rgba(0, 0, 0, 0.493);
            top: 70px;
            transition: all 1s ease;
        }
      span {
        &:first-child {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0%;
        }
        &:last-child {
          transform: rotate(-45deg);
        }
      
      }
    }
  }
}

.logo-header {
  font-weight: 800;
  font-size: 36px;
  width: 30%;
  z-index: 3;
}

nav {
  width: 70%;
  font-weight: 600;
  display: flex;
  justify-content: right;
  position: relative;
  flex-direction: column;
  overflow: visible;
  .burger {
    width: 32px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: absolute;
    right: 20px;
    z-index: 3;
    span {
      width: 100%;
      height: 3px;
      background-color: $mainblue;
      transform-origin: left;
      transition: all 0.5s ease;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    right: -50px;
    top: -1600px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: right;
    transition: all 1s ease;

    li {
      list-style-type: none;
      margin: 0 10px;
      padding: 15px 10px;

      a {
        text-decoration: none;
        color: white;
        padding: 5px 10px;

        &.active {
          color: $mainblue;
        }

        &:hover {
          color: $mainblue;
        }
      }
    }
  }
}

#main {
  height: 100vh;

  .sections {
    height: calc(100vh);
    min-height: fit-content;
    position: relative;
    width: 100%;
    margin: 0 auto;

    > * {
      width: 100%;
      margin: 0 auto;
      padding: 0 10%;
      overflow-x: visible;
      scroll-snap-align: none;
    }
  }

  #inicio {
    text-align: center;
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.788), rgba(5, 5, 5, 0.73)),
    url("../img/main-background.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #presentation {
    display: flex;
    align-items: center;
    padding-top: 100px;
    .title {
      width: 100%;
      text-align: center;
      h1 {
        color: white;
        font-weight: 800;
        font-size: 50px;
      }
      h2 {
        color: white;
        font-weight: 500;
        font-size: 24px;
      }
    }
  }

  #contact {
    color: white;
    padding-top: 50px;
    .form-container {
      width: 70%;
      margin: 30px auto 0;
      form{
        .button-container{
          display: flex;
          justify-content: space-between;
        }
      }
      .input-group {
        position: relative;
        margin-bottom: 30px;
        input[type="text"],
        input[type="email"],
        textarea {
          font-size: 16px;
          color: $mainblue;
          width: 100%;
          padding: 15px;
          padding-top: 30px;
          outline: none;
          background: none;
          border: none;
          border-bottom: 2px solid $mainblue;
          &:focus,
          &:active {
            outline: none;
            border-bottom: 2px solid $secondary-blue;
          }
        }

        .label {
          position: absolute;
          left: 0px;
          top: 10px;
          color: rgb(150, 148, 148);
          &.active {
            top: -7px;
            color: white;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }

  #proyects {
    margin-top: 20px;
    padding-top: 10px;
    h2 {
      color: white;
    }

    h3 {
      color: white;
      font-weight: 600;
      margin-top: 20px;
    }
    .proyects-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .single-proyect {
        width: 50%;
        padding: 10px;
        img {
          width: 100%;
          margin: 5px;
          border-radius: 0px;
        }

        .label {
          background-color: $mainblue;
          color: white;
          border-radius: 50px;
          font-size: 10px;
          padding: 5px 10px;

          &.wordpress {
            background-color: #00749c;
            color: white;
          }

          &.js {
            background-color: #f0db4f;
            color: #323330;
          }

          &.css {
            background-color: #264de4;
            color: white;
          }

          &.html {
            background-color: #e34c26;
            color: white;
          }
        }

        a {
          img {
            margin-top: 10px;
          }
        }
      }
    }
  }

  #about-me {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    > * {
      margin: 10px;
    }
    .about-photo {
      width: 25%;

      img {
        width: 100%;
        border-radius: 20px;
      }
    }

    .about-text {
      width: 65%;
      color: white;
      h2 {
        font-weight: 800;
        font-size: 30px;
      }

      h4 {
        font-weight: 500;
        color: $mainblue;
      }

      p {
        margin-top: 10px;
        color: rgb(199, 199, 199);
      }

      hr {
        margin: 20px 0;
        border-color: rgb(73, 73, 73);
      }

      .info {
        display: flex;
        flex-wrap: wrap;
        .info-element {
          width: 50%;

          p {
            color: rgb(212, 212, 212);
            a {
              color: $mainblue;
              &:hover {
                color: $secondary-blue;
              }
            }
            .element-title {
              color: white;
            }
          }
        }
      }
    }
  }
}

.main-buton-container{
  height: 100px;
  padding-top: 10px;
}

.main-button {
  margin-top: 50px;
  font-size: 20px;
  background-color: $mainblue;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;

  &:hover {
    color: white;
    background-color: $secondary-blue;
  }
}

.secondary-button {
  font-size: 14px;
  background-color: $mainblue;
  color: white;
  padding: 7px 20px;
  border: none;

  &:hover {
    color: white;
    background-color: $secondary-blue;
  }
}

.valid-button {
  font-size: 12px;
  background-color: $valid-green;
  color: white;
  border-radius: 50px;
  padding: 7px 20px;
  border: none;

  &:hover {
    color: white;
    background-color: $valid-green;
  }
}

.aside-networks {
  position: fixed;
  z-index: 2;
  bottom: 50px;
  right: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  a {
    margin: 2px;
    font-size: 30px;
    color: white;
    &:hover {
      color: $mainblue;
    }
  }
}

[class*="col-"] {
  width: 100%;
}


@media only screen and (min-width: 1200px) {
    header{
      border-bottom: none;  
        nav{
            flex-direction: row;
            .burger{
                display: none;
            }
            ul{
                top: 0px;
                right: 50px;
                height: inherit;
                position: inherit;
                flex-direction: row;
            }
        }

        &.mobile{
            nav{
                ul{
                    top: 0px;
                }
            }
        }
    }
    #main{
    .sections{
        >*{
            padding-top: 70px;
            min-height:100vh;
            height: fit-content;

        }
        #presentation{
          padding: 15%;
        }
        #proyects{
            .proyects-container{
                .single-proyect{
                    width: 33%;
                }
            }
        }
    }
    }


}
